<%= form_for(monster_drop_record) do |f| %>
  <% if monster_drop_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster_drop_record.errors.count, "error") %> prohibited this monster_drop_record from being saved:</h2>

      <ul>
      <% monster_drop_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :count %>
    <%= f.number_field :count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
