%p#notice= notice
%h1 Monster Drop Records
%table
  %thead
    %tr
      %th Count
      %th{:colspan => "3"}
  %tbody
    - @monster_drop_records.each do |monster_drop_record|
      %tr
        %td= monster_drop_record.count
        %td= link_to 'Show', monster_drop_record
        %td= link_to 'Edit', edit_monster_drop_record_path(monster_drop_record)
        %td= link_to 'Destroy', monster_drop_record, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Monster Drop Record', new_monster_drop_record_path
