<p id="notice"><%= notice %></p>

<h1>Monster Drop Records</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_drop_records.each do |monster_drop_record| %>
      <tr>
        <td><%= monster_drop_record.count %></td>
        <td><%= link_to 'Show', monster_drop_record %></td>
        <td><%= link_to 'Edit', edit_monster_drop_record_path(monster_drop_record) %></td>
        <td><%= link_to 'Destroy', monster_drop_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster Drop Record', new_monster_drop_record_path %>
